<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>Tempate for Pages topics</title>
    </head>
    <body>
        <h1 class="p_Heading1"><span class="f_Heading1">Title</span>
        </h1>
        <div class="TopicContent">
            <p>
                <!-- Content start -->
            </p>
            <p>General description.</p>
            <p class="p_Tip"><span class="f_Tip"><strong>Note head:</strong> Note body.</span>
            </p>
            <h2 class="p_Heading2"><span class="f_Heading2">How to get here</span>
            </h2>
            <p>How-to-get-here.</p>
            <ol>
                <li>Step 1.</li>
                <li>Step 2.</li>
                <li>Step 3.</li>
            </ol>
            <p>
                <img alt="" src="../Images/0-c/addabbreviation.png" />
            </p>
            <h2 class="p_Heading2"><span class="f_Heading2">What can you do?</span>
            </h2>
            <MadCap:dropDown>
                <MadCap:dropDownHead>
                    <MadCap:dropDownHotspot>Dropdown title for action 1</MadCap:dropDownHotspot>
                </MadCap:dropDownHead>
                <MadCap:dropDownBody>
                    <p>Description for action 1</p>
                    <ul>
                        <li>Bullet point 1.</li>
                        <li>Bullet point 2.</li>
                    </ul>
                </MadCap:dropDownBody>
            </MadCap:dropDown>
            <h2 class="p_Heading2"><span class="f_Heading2">When you finish</span>
            </h2>
            <p>Closing action 1</p>
            <p>Closing action 2</p>
            <h2 class="p_Heading2"><span class="f_Heading2">See also</span>
            </h2>
            <p class="p_Command"><span class="f_Command"><a href="..\Places\find-new-abbreviations.html">Link to other Places topic</a></span>
            </p>
            <p>
                <!-- Content end -->
            </p>
        </div>
    </body>
</html>